/* ui inspired - https://dribbble.com/shots/18469821-Food-web-Landing-Page */

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: white;
}

.no-scroll {
    overflow: hidden;
}

html, body { height: 100%; }

.page {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr; /* nav, content */
}

nav {
  position: sticky; /* or relative */
  top: 0;
  z-index: 10;
}


header {
    width: 100vw;
    height: 10vh;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 1fr;
    grid-template-rows: 1fr;
    box-sizing: border-box;
}

nav {
    display: grid;
    margin: 0 auto;
    box-sizing: border-box;
    grid-auto-flow: column;
}

nav button {
    all: unset;
    font-size: 16px;
    cursor: pointer;
    width: auto;
    height: 100%;
    padding: 0 64px;
}

.content {
  display: grid;
  width: 100vw;
  height: 90vh;

  /* REMOVE this */
  /* height: 100vh; */

  min-height: 0; /* ✅ important in grid layouts */
  grid-template-columns: 1fr 4fr 2fr 1fr;
  grid-template-rows: 3fr 5fr 1fr;
}


#introduction {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    display: flex;
    row-gap: 64px;
    flex-direction: column;
}

.bg-default {
    min-height: 90vh;
}

#introBtn {
    all: unset;
    font-size: 16px;
    padding: 16px;
    cursor: pointer;
    border-radius: 16px;
    background-color: rgb(177, 4, 4);
    width: 112px;
    text-align: center;
}

.funkyFont, #logo {
    font-family: "Noto Sans", sans-serif;
}

#logo {
    grid-column: 2 / 3;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
}

#immersiveH1 {
    font-size: 64px;
}

.bg-default {
    background-image: url('./images/restaurant.jpg');
    background-size: cover;
}


#menuH1 {
    grid-column: 2 / 4;
}


.alternativeL {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 1fr 4fr;
    text-align: center;
}

#menuH1 {
    grid-column: 1 / 3;
    grid-row: 1;
    color: black;
    border: 1px solid black;

    display: grid;
    place-items: center; /* ✅ centers text vertically & horizontally */
}

.menuContainer {
    grid-column: 2 / 4;
    grid-row: 1 / 4;
    display: grid;
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
    margin-bottom: 128px;
    text-align: center;
}


.item {
    padding: 32px;
    border-bottom: 1px solid black;
}

.item h1 {
    padding: 48px;
}

.item p, .item h1 {
    color: black;
}
